.One {
    text-align: center;
  }
  
  .One-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .One-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .One-header {
    background-color: #052971;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-size: calc(4px + 2vmin);
    border: #000203;
    color: rgb(12, 12, 12);
  }
  
  .One-link {
    color: #61dafb;
  }
  
  @keyframes One-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  